<div class="main-section">

  <div class="main-container-box">

    <div class="form-container">

      <h1 class="title">Log in</h1>

      <form #loginForm="ngForm" (ngSubmit)="login(loginForm)">

        <div class="field">
          <label class="label">Email</label>
          <div class="control">
            <input
              type="email"
              required
              minlength="5"
              email
              class="input"
              name="email"
              [ngModel]="email"
              placeholder="e.g. alexsmith@gmail.com">
          </div>
        </div>

        <div class="field">
          <label class="label">Password</label>
          <div class="control">
            <input
              type="password"
              required
              minlength="8"
              class="input"
              name="password"
              [ngModel]="password"
              placeholder="enter a strong password">
          </div>
        </div>

        <div class="field">
          <div class="control">
            <button type="submit" style="margin-top: 28px" [disabled]="!loginForm.valid" class="button is-primary has-text-white is-fullwidth">Log in</button>
          </div>
        </div>
        
      </form>
    </div>
    
    <div class="alternate-bar">
      <h2>Don't have an account?</h2>
      <button class="button" routerLink="/signup">Sign up</button>
    </div>
    
  </div>
  
</div>